body {
    background-color:#D7ECFC;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    .navbar {
        .logo {
            height: 45px;
            &:hover{
                cursor: pointer;
            }
        }
        .nav-item {
            &:hover{
                cursor: pointer;
            }
        }
    }
    .page-content{
        width: 70%;
        margin: 61px auto auto auto;
        #articles{
            .card{
                border: 2px solid #FF9900;
            }
        }
        .toptencontainer{
            border: 2px solid #FF9900;
        }
        .card-header{
            background-color: #FF9900;
        }
        .list-group-item{
            &:hover{
                cursor: pointer;
            }
        }
    }
}